<%###############################################################################%>
<%# Location  - bookinv/app/view/layout                                         #%>
<%# File Name - application_html.rb                                             #%>
<%# Rev.      - 0.0.1                                                           #%>
<%# Rev Date  - 11/29/2018                                                      #%>
<%###############################################################################%>

<!DOCTYPE html>
<html>
  <head>
    <title>Bookinv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<%###############################################################################%>
<%# Rev. Date  | Rev. No. |          Description                                #%>
<%#------------|----------|-----------------------------------------------------#%>
<%# 11/29/2018 |   0.0.1  | Add header and footer comments.                     #%>
<%###############################################################################%>
